/* COLORS 

Dark blue: #142d4c
Light blue: #385170
Green: #9fd3c7
White: #ececec

/*--------------------------------------------------------------
	Variables
--------------------------------------------------------------*/
:root {
    --green: #9fd3c7;
    --white: #ececec;
    --lightblue: #385170;
    --blue: #142d4c;
}

/*--------------------------------------------------------------
	Reset
--------------------------------------------------------------*/

/* Reset for all browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a:hover, a:active, a:focus, .btn:focus, button:focus, input:focus, textarea:focus {
    outline: none!important;
    box-shadow: none!important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: var(--blue);
    background-color: var(--white);
    height: -webkit-fill-available;
    display: grid;
}

/* Reset bootstrap */
.row {
    margin: 0!important;
}
/*--------------------------------------------------------------
	Bootstrap and personal style stuff
--------------------------------------------------------------*/
/* Bootstrap template header */
header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

/* Usefull personal classes and styles */
.white-text {
    color: var(--white);
}

.btn.white-text:hover, .mdi.white-text:hover {
    color: var(--green)!important;
}

.green-text {
    color: var(--green);
}

a .green-text:hover {
    color: var(--white)!important;
}

.lightblue-text {
    color: var(--lightblue);
}

.blue-text {
    color: var(--blue);
}

.green-background {
    background-color: var(--green);
}

.blue-background {
    background-color: var(--blue);
}

.full-height {
    height: 100vh;
}

.angled {
    clip-path: polygon(100% 0, 100% 76%, 0 96%, 0 19%);
    -webkit-clip-path: polygon(100% 0, 100% 76%, 0 96%, 0 19%);
    -moz-clip-path: polygon(100% 0, 100% 76%, 0 96%, 0 19%);
}

.angled.larger {
    clip-path: polygon(100% 0, 100% 76%, 0 89%, 0 12.5%);
    -webkit-clip-path: polygon(100% 0, 100% 76%, 0 89%, 0 12.5%);
    -moz-clip-path: polygon(100% 0, 100% 76%, 0 89%, 0 12.5%);
}

hr.hr{
    margin: 0.2rem 0 0 0.2rem!important;
    border: 0;
    border-top: 4px solid var(--blue);
    float: left;
    clear: both;
    width: 2em;
}

hr.green {
    border-color: var(--green)!important;
}

hr.lightblue {
    border-color: var(--lightblue)!important;
}

hr.white {
    border-color: var(--white)!important;
}

hr.center {
    text-align: center;
    margin: 0.2rem auto!important;
    float: none!important;
}

hr.right {
    text-align: right;
    float: right!important;
}

hr.thin {
    border-top-width: 2px;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    letter-spacing: 0.2em;
}

.title-txt {
    letter-spacing: 0.2em;
}

input.form-control, .form-control {
    border: none!important;
    border-radius: 0!important;
    font-size: 0.8rem!important;
    line-height: inherit!important;
    color: var(--lightblue)!important;
    background-color: var(--white)!important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--lightblue)!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--lightblue)!important;
   opacity: 1!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--lightblue)!important;
   opacity: 1!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--lightblue)!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--lightblue)!important;
}

::placeholder { /* Most modern browsers support this now. */
   color: var(--lightblue)!important;
}

label {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.btn {
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    /*border: 0.2rem solid var(--blue);*/
    border-radius: 0;
    padding: .5rem 1rem;
}

.btn h5 {
    margin: 0;
}

textarea {
    resize: none;
}

.mdi.lg {
    font-size: 1.6rem;
    margin: 0 0.2em;
}

.mdi.xl {
    font-size: 2.1rem;
    position: relative;
    top: -0.34rem;
}

.mdi.xs {
    font-size: 0.3em;
    position: relative;
    top: -0.4em;
}

/*--------------------------------------------------------------
	Header
--------------------------------------------------------------*/
#mainNav {
    background:rgba(0, 0,0,0);
}

#mainNav, #mainNav .container-fluid {
    -ms-flex-align: initial;
    align-items: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    display: inline-block;
}

.nav-link {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--green);
}

.navbar-toggler .mdi.xl {
    top:0;
    position: absolute;
    right: 1rem;
}

.navbar-toggler.collapsed .mdi.xl {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}


.navbar-toggler:not(.collapsed) .mdi.xl.top {
    transform: translate(-2px,8px) rotate(135deg);
}

.navbar-toggler:not(.collapsed) .mdi.xl.bottom {
    transform:  translate(1px,-8px) rotate(-135deg);
}

.navbar-toggler:not(.collapsed) .mdi.xl.middle {
    opacity: 0;
}

.navbar-toggler:hover .mdi.xl {
    color:var(--green);
}

.navbar-toggler .mdi.xl.middle {
    top:8px;
}

.navbar-toggler .mdi.xl.bottom {
    top:16px;
}

.nav-item {
    float: right;
}

.navbar-collapse.show {
    background: var(--blue);
}

/*--------------------------------------------------------------
	Main
--------------------------------------------------------------*/
#shape {
    /*background-image: url("../img/background-canvas-code-249798.jpg");
    background-size: cover;*/
    clip-path: polygon(100% 0, 100% 76%, 65% 91%, 0 79%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 76%, 65% 91%, 0 79%, 0 0);
    -moz-clip-path: polygon(100% 0, 100% 76%, 65% 91%, 0 79%, 0 0);
    position: absolute;
    top: -10%;
    height: 100vh;
    padding: 0;
    z-index: -1;
}

#gradient {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23385170' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /*background-image: linear-gradient(to bottom,rgba(56, 81, 112, 0.95), rgba(20, 45, 76,0.95));*/
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}

/* Background Animation */

#main-text {
    margin-top: 18em;
    z-index: 3;
}

#main-text h3 {
    letter-spacing: 1.7px;
}

/*--------------------------------------------------------------
	About
--------------------------------------------------------------*/
#about {
    position: relative;
    top: 60%;
    height: 150vh;
    padding-top: 40px;
    margin-top: -40px;
    padding-bottom: 2em;
    overflow: hidden;
}

#about .container-img {
    height: 100%;
    padding: 0;
    background: var(--green);
    transform: translate(0,6%) scale(0.9);
}

#about .container {
    padding: 4rem 0;
}

.container-img img {
    transform: translate(-5%,-8%);
}

/*--------------------------------------------------------------
	Education
--------------------------------------------------------------*/
#education {
    height: auto;
    padding: 18% 0 22% 0; 
    display: inline-block;
    z-index: 1;
    position: relative;
}

#education .education-title {
    margin-bottom: 1em;
}

#education p {
    margin-bottom:0; 
}

p.year {
    font-size: 0.9em;
    margin-bottom: 0.2em!important;
}

h5.education-section-title {
    text-transform: uppercase;
    font-weight: 600;
    /* font-size: 1em; */
}

p.location {
    text-transform: uppercase;
    font-size: 0.9em;
}

/*--------------------------------------------------------------
	Skills
--------------------------------------------------------------*/
#skills {
    padding-top: 4em; 
    transform: translateY(-8em);
}

#skills .pattern {
    z-index: -3;
    height: 140%;
    width: 100%;
    position: absolute;
    top: -20%;
    left: 0;
    background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23385170' fill-opacity='0.15'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#skills .container {
    z-index: 1;
    position: relative;
}

#skills .title{
    padding-bottom: 2em;
}

.skill {
    padding: 2%;
}

.type-skill {
    text-align: center;
    text-transform: uppercase;
}

p.skill-name {
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 0.4em;
}

.skill-bar {
    height: 1.2em;
    background: var(--green);
    transform: translate(1%, 20%);
    width: 100%;
}

.skill-completion-bar {
    background: var(--blue);
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(-1%, -20%);
}

#skill1 .skill-completion-bar {
    width: 85%
}

#skill2 .skill-completion-bar {
    width: 65%
}

#skill3 .skill-completion-bar {
    width: 30%
}

#skills hr.center {
    margin: -0.4em auto!important;
}
/*--------------------------------------------------------------
	Portfolio
--------------------------------------------------------------*/
#portfolio {
    height: auto;
    padding: 18% 0 32% 0; 
    display: inline-block;
    z-index: 1;
    position: relative;
    transform: translateY(-13em);
    background: var(--white);
}

.portfolio-item {
    padding: 5%;
}

.portfolio-item .item {
    height: 100%;
    width: 100%;
    transform: translate(5%,8%);
    border: solid 4px var(--lightblue);
}

.portfolio-item .item.block {
    background: var(--lightblue);
}

/*
.portfolio-item .item.plus {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANUlEQVQoU2NkIBIwEqmOAUOhRWDBf5DmE+snoMiRrhBmErpTYCbDTSRaIcwk6rmRUDARHY4AEQYYC/TaPQAAAAAASUVORK5CYII=');
}

.portfolio-item .item.cross {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQoU2NkIBIwwtRZBBb8B7FPrJ+AVQxDEKYYphHGhysECSBLwmyC2YCiEF0xsjNINxHdTTjdSLSvCQUnhmdwaQAAGoMsCwp1CvUAAAAASUVORK5CYII=');
}
*/

.portfolio-item button {
    border: none;
    position: relative;
    display: block;
    transform: translate(-5%,-8%);
}

.portfolio-item button .overlay {
    background-color: var(--green);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.portfolio-item button:hover .overlay {
    opacity: 1;
}

.portfolio-item button:active .overlay {
    transform: translate(0,0);
}

.portfolio-item button .overlay p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--lightblue);
}

/*--------------------------------------------------------------
	Modal - Portfolio Item
--------------------------------------------------------------*/
.modal-dialog {
    max-width: 80%;
}

.modal-dialog {
    height: 80%;
}

.modal-content, .modal-header, .modal-body, .modal-footer {
    border: none;
    border-radius: 0!important;
}

.modal-title {
    text-transform: uppercase;
    font-weight: 600;    
    letter-spacing: 2px;
}

.modal-body {
    padding: 0;
}

.modal-content, .modal-body .row {
    height: 100%;
}

#container-image-modal img {
    margin-top: 50%;
    transform: translateY(-50%);
    padding: 0 1em;
}

#change-post {
    position: absolute;
    bottom: 0;
    left: 0;
}

#change-post .btn:hover span{
    color: var(--white);
}

#post-content-container {
    background-color: var(--white);
}

.post-content {
    margin-top: 50%;
    transform: translateY(-50%);
}

.post-content .row {
    display: block;
}

#link {
    padding: 0;
}

#link:hover span {
    color: var(--green);
}

#link span {
    top: 0.2em;
    position: relative;
    top: -0.3em;
}
.post-description {
    padding-top: 1.2em;
}

.close {
    text-shadow: none;
    opacity: 1;
}
/*--------------------------------------------------------------
	Contact
--------------------------------------------------------------*/
#contact {
    position: relative;
    top: -36em;
    padding: 22% 0 4% 0; 
    height: 108vh;
}

#contact-description {
    padding-bottom: 1em;
}

#send-btn {
    margin-top: 1.5em; 
    background: var(--white);
    transform: translate(8%, 18%);
}

#send-btn .btn {
    transform: translate(-8%, -18%);
    transition: translate 500ms ease-in-out;
    -webkit-transition: translate 500ms ease-in-out;
    -moz-transition: translate 500ms ease-in-out;
    -ms-transition: translate 500ms ease-in-out;
    -o-transition: translate 500ms ease-in-out;
}

#send-btn .btn:active{
    transform: translate(0, 0);
}


/*--------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
footer {
    padding-top: 0.6em; 
    position: relative;
    top: -36em;
}

.row-hr {
    position: relative;
    top: -1.2em;
}

/*--------------------------------------------------------------
	Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 800px) {
    .h3, h3 {
        font-size: 1.35rem!important;
        letter-spacing: 1px!important;
    }

    .h1, h1 {
        font-size: 1.9rem!important;
    }

    .h2, h2 {
        font-size: 1.8rem!important;
    }

    #main-text {
        margin-top: 32.5em!important;
        height: 80vh;
    }

    #about {
        padding-bottom: 2em;
        height: 120vh;
    }

    #about .title-txt {
        margin-top: 0.4em;
    }

    #education {
        padding: 20% 0 24% 0;
    }

    #skills {
        padding-top: 8em;
        transform: translateY(-14em);
        height: auto;
        padding-bottom: 0;
    }

    #skills .container .col-xs-12{
        margin-bottom: 1.2em;
    }

    #contact {
        top: -44em;
        padding: 58% 0 0% 0;
        height: 86vh;
    }

    footer{
        top: -44em;
    }
}

@media screen and (max-width: 600px) {
    .h3, h3 {
        font-size: 1.35rem!important;
        letter-spacing: 1px!important;
    }

    .h1, h1 {
        font-size: 1.9rem!important;
    }

    .h2, h2 {
        font-size: 1.8rem!important;
    }

    #main-text {
        margin-top: 16.5em!important;
    }

    #about {
        padding-bottom: 78em;
    }

    #about .title-txt {
        margin-top: 0.4em;
    }

    #education {
        padding: 94% 0 98% 0;
    }

    #skills {
        padding-top: 6em;
        transform: translateY(-14em);
    }

    #skills .container .col-xs-12{
        margin-bottom: 1.2em;
    }

    #portfolio {
        padding: 72% 0 168% 0;
    }

    #contact {
        top: -48em;
        padding: 85% 0 0% 0;
        height: 56em;
    }

    footer{
        top: -48em;
    }

    .modal-dialog {
        max-width: 100%;
    }

    #portfolioItemModal {
        padding-right: 0;
    }

    .post-content {
        margin-top: 1.2em;
        transform: translateY(0);
    }
}

@media screen and (max-width: 350px) {
    .h3, h3 {
        font-size: 1.45rem;
    }

    .h1, h1 {
        font-size: 2.1rem;
    }
}
  